{% extends 'book_shop_here/base.html' %}
{% block content %}
    <h2>Authors</h2>
    <form method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Search name">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for author in authors %}
            <li>{{ author.author_id }}: {% if author.first_name != null %} {{author.first_name}} {% endif %} ({{ author.last_name }})
            </li>
        {% empty %}
            <li>No authors found.</li>
        {% endfor %}
    </ul>
    {% if perms.book_shop_here.add_author or user.is_superuser %}<a href="{% url 'add_author' %}">Add Author</a>{% endif %}
{% endblock %}