{% extends 'book_shop_here/base.html' %}
{% load custom_filters %}
{% block content %}
    <h2>Authors</h2>
    <form method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Search name">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for author in authors %}
            <li>{{ author.author_id }}: {% if author.first_name != null %} {{author.first_name}}{% endif %} {{ author.last_name }}
            </li>
        {% empty %}
            <li>No authors found.</li>
        {% endfor %}
    </ul>
    {% if request.user|is_in_group:"OwnerGroup" or request.user|is_in_group:"ManagerGroup" or request.user.is_superuser %}<a href="{% url 'add_author' %}">Add Author</a>{% endif %}
{% endblock %}