{% extends "book_shop_here/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% url 'book_shop_here:book-list' as cancel_link %}
        {% include 'book_shop_here/partials/form_actions.html' with cancel_url=cancel_link %}
    </form>
{% endblock %}
