{% extends 'book_shop_here/base.html' %}
{% load custom_filters %}
{% block content %}
    <h2>Available Roles</h2>
    {% for group in groups %}
        <div>
            <h3>{{ group.name }}</h3>
            <p>
                Description: {{ group.group.description|default:"No description provided." }}
            </p>
        </div>
        <hr>
    {% endfor %}
    {% if request.user|is_in_group:"Owner Group" or request.user|is_in_group:"Manager Group" or request.user.is_superuser %}<a href="{% url 'add_group' %}">Add Role</a>{% endif %}
{% endblock %}